$body-color: red;

body {
  color: $body-color;
}

.main-image {
  width: 75%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 5px 0 0;

  a {
    padding: 0 10px;

  }
}

#_content {
  border: 1px solid;
}

#selected {
  padding-bottom: 1px;
  background: white;
}
